
@CHARSET "UTF-8";

 	
body{
    background: #c2ffe6;
    font-family: verdana, helvetica, sans-serif;
	font-size: small;
	color: black;
	margin-left:30px;
    margin-right:30px;
}
    	
hr{
	color: #02c8a7;
}

#title{
	font-family: verdana, helvetica, sans-serif;
	font-size:400%;
	text-align: left;
	color: black;
	font-weight: bold;
}

#credentials input[type=text]{
		font-family: verdana, helvetica, sans-serif;
		font-size: small;
		position: left;
    	box-sizing: border-box;
    	border: 2px solid navy;
    	border-radius: 12px;
    	font-size: 16px;
    	background-color: #bffffc;
    	background-position: 10px 10px;
    	background-repeat: no-repeat;
    	padding: 12px 20px 12px 20px;
}
	
#credentials input[type=password]{
		font-family: verdana, helvetica, sans-serif;
		font-size: small;
		position: left;
    	box-sizing: border-box;
    	border: 2px solid navy;
    	border-radius: 12px;
    	font-size: 16px;
    	background-color: #fff6fd;
    	background-position: 10px 10px;
    	background-repeat: no-repeat;
    	padding: 12px 20px 12px 20px;
}
	
	
.button{
  	font-family: verdana, helvetica, sans-serif;
    font-size: small;
    vertical-align: middle;
    color: black;
    box-sizing: border-box;
    border: 2px solid #f81b84;
    border-radius: 12px;
    font-weight: bold;
    background-color: #71a0f2;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 20px;
  	display: inline-block;
  	transition: all 0.5s;
  	cursor: pointer;
}

.button span{
  	cursor: pointer;
  	display: inline-block;
  	position: relative;
  	transition: 0.5s;
}

.button span:after{
  	content: '»';
  	position: absolute;
  	opacity: 0;
  	top: 0;
  	right: -20px;
  	transition: 0.5s;
}

.button:hover span{
  	padding-right: 25px;
}

.button:hover span:after{
 	opacity: 1;
  	right: 0;
}

.error{
	font-family: verdana, helvetica, sans-serif;
	font-size: small;
	color: red;
}
	
h1{
	text-align: center;
	font-family: verdana, helvetica, sans-serif;
	color: black;
}
	
h2{	
	text-align: left;
	font-family: verdana, helvetica, sans-serif;
	color: black;
}
	
h3{
	text-align: left;
	font-family: verdana, helvetica, sans-serif;
	color: black;
}
	
h4{
	text-align: left;
	font-family: verdana, helvetica, sans-serif;
	color: black;
}

h6{
	text-align: center;
	font-family: verdana, helvetica, sans-serif;
	color: black;
}
	
table{
    border-collapse: collapse;
    width: 100%;
}

th, td{
    padding: 8px;
    text-align: left;
    border-bottom: 2px solid black;
}

tr:hover{
	background-color: v#fff749;
}

ul.tab{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #02c8a7;
}

ul.tab li{
	float: left;
}

ul.tab li a{
	font-family: verdana, helvetica, sans-serif;
	font-size: large;
	font-weight: bold;
    vertical-align: middle;
    text-align: center;
    color: black;
    width: 304px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 12px;
   	background-color: #f81b84;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 20px;
  	display: inline-block;
  	transition: all 0.5s;
  	cursor: pointer;
	display: inline-block;
	text-decoration: none;
    transition: 0.3s;
}

/* Change background color of links on hover */
ul.tab li a:hover{
    background-color: v#fff749;
}

/* Create an active/current tablink class */
ul.tab li a:focus, .active{
    background-color: #02c8a7;
}

/* Style the tab content */
.tabcontent{
	background-color: #02c8a7;
    display: none;
    padding: 6px 12px;
    border: 1px solid black;
    border-top: none;
}

.topright{
 	float: right;
 	cursor: pointer;
 	font-size: 20px;
}

.topright:hover{
	color: v#fff749;
}


